.container {
  display: flex;
  min-height: calc(100vh - 200px); /* Adjusted for header and footer */
  margin-top: 80px;
  background: linear-gradient(135deg, #e0f7fa, #f0f4f8);
}

main {
  margin-left: 250px;
  padding: 30px;
  flex: 1;
  overflow-y: auto;
}
